.rvmrc
.DS_Store
.yardoc
doc
rdox
coverage
tmp
*.rbc
*~
*.gem
.bundle
.rspec
Gemfile.lock
bin/

\.idea/\.rakeTasks

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/savon\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml
